{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="lib_home">
    <div id="library_load">
        <div id="library_inner">
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
            <div class="cover" >
                <img src="{% static 'images/missing.png' %}" alt="">
                <div class="cover-title">Book Name</div>
            </div>
        </div>
    </div>
    <div id="to_top"></div>
</div><!-- /#lib_home -->
{% endblock content %}
