{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="books_add" class="full_box">
	<h2>Add Books</h2>
  <div class="dda_container" id="search_main">
  	<form id="submit_entry" method="POST" enctype="multipart/form-data" action="/library/manual-entry-process">
      <div class="blk">
        <label>Book Name</label>
        <input type="text">
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Author Name</label>
        <input type="text">
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Unique No.</label>
        <input type="text">
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Category Name</label>
        <select>
            {% for obj in object_list %}
                <option>{{ obj.name }}</option>
            {% endfor %}
        </select>
        <div class="clear"></div>
      </div>
    	<div class="blk">
        <label>Description</label>
        <textarea></textarea>
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Book Cover Photo.</label>
        <input type="file">
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
  		<button onclick="return false;" id="submit_manual">Submit</button>
  	</form>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}