{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="books_add" class="full_box">
	<h2>Add Books</h2>
  <div class="dda_container" id="search_main">
  	<form id="submit_entry" method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
      <div class="blk">
        <label>Book Name</label>
        {{ form.book_name }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Author Name</label>
        {{ form.author_name }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Unique No.</label>
        {{ form.unique_no }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Category Name</label>
        {{ form.category_name }}
        <div class="clear"></div>
      </div>
    	<div class="blk">
        <label>Description</label>
        {{ form.description }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Book Cover Photo.</label>
        {{ form.image }}
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
  		<button id="submit_manual" type="submit">Submit</button>
  	</form>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}