{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="books_add" class="full_box">
	<h2>Add Book Category</h2>
  <div class="dda_container" id="search_main">
  	<form id="submit_entry" method="POST" action="">
        {% csrf_token %}
      <div class="blk">
        <label>Category Name</label>
        {{ form.name }}
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
  		<button id="submit_manual" type="submit">Add Category</button>
  	</form>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}