{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="books_add" class="full_box">
	<h2>Add New Students</h2>
  <div class="dda_container" id="search_main">
  	<form id="submit_entry" method="post" action="">
        {% csrf_token %}
      <div class="blk">
        <label>Name</label>
        {{ form.name }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Father Name</label>
        {{ form.father_name }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Mother Name</label>
        {{ form.mother_name }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Unique ID</label>
        {{ form.unique_id }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Phone</label>
        {{ form.phone }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Email</label>
        {{ form.email }}
        <div class="clear"></div>
      </div>
      <div class="blk">
        <label>Address</label>
        {{ form.address }}
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
  		<button id="submit_manual" type="submit">Add New Student</button>
  	</form>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}