		<div id="lib_home">
			<div id="library_load">
				<div id="library_inner">
					<ul>
						<li>
							<div class="cover cover_search" >
								<img src="images/missing.png" alt="">
							</div>
							<div class="detai">
								<h3>Book Name</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim a</p>
								<span>Author Name : Jafor Iqbal</span>
								<br>
								<span class="nava">Not Available</span>
								<span class="set">Total Set</span>
								<span class="cat">Category : Nobel , History</span>
							</div>
						</li>
												<li>
							<div class="cover cover_search" >
								<img src="images/missing.png" alt="">
							</div>
							<div class="detai">
								<h3>Book Name</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim a</p>
								<span>Author Name : Jafor Iqbal</span>
								<br>
								<span class="nava">Not Available</span>
								<span class="set">Total Set</span>
								<span class="cat">Category : Nobel , History</span>
							</div>
						</li>
												<li>
							<div class="cover cover_search" >
								<img src="images/missing.png" alt="">
							</div>
							<div class="detai">
								<h3>Book Name</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim a</p>
								<span>Author Name : Jafor Iqbal</span>
								<br>
								<span class="nava">Not Available</span>
								<span class="set">Total Set</span>
								<span class="cat">Category : Nobel , History</span>
							</div>
						</li>
												<li>
							<div class="cover cover_search" >
								<img src="images/missing.png" alt="">
							</div>
							<div class="detai">
								<h3>Book Name</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim a</p>
								<span>Author Name : Jafor Iqbal</span>
								<br>
								<span class="nava">Not Available</span>
								<span class="set">Total Set</span>
								<span class="cat">Category : Nobel , History</span>
							</div>
						</li>
												<li>
							<div class="cover cover_search" >
								<img src="images/missing.png" alt="">
							</div>
							<div class="detai">
								<h3>Book Name</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim a</p>
								<span>Author Name : Jafor Iqbal</span>
								<br>
								<span class="nava">Not Available</span>
								<span class="set">Total Set</span>
								<span class="cat">Category : Nobel , History</span>
							</div>
						</li>


					</ul>
				</div>
			</div>
			<div id="to_top"></div>
		</div><!-- /#lib_home -->