{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="books_add" class="full_box">
    <h2>Students List</h2>
  <div class="dda_container" id="search_main">
    <table style="width: 100%;">
      <tr>
        <th>Id</th>
        <th>Student Name</th>
        <th>Non Return</th>
        <th>Total Read Book</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>01</td>
        <td>karim</td>
        <td>5</td>
        <td>10</td>
        <td><a href="#" class="update">Update</a> | <a href="#" class="del">Delete</a></td>
      </tr>
      <tr>
        <td>01</td>
        <td>karim</td>
        <td>5</td>
        <td>10</td>
        <td><a href="#" class="update">Update</a> | <a href="#" class="del">Delete</a></td>
      </tr>
      <tr>
        <td>01</td>
        <td>karim</td>
        <td>5</td>
        <td>10</td>
        <td><a href="#" class="update">Update</a> | <a href="#" class="del">Delete</a></td>
      </tr>
      <tr>
        <td>01</td>
        <td>karim</td>
        <td>5</td>
        <td>10</td>
        <td><a href="#" class="update">Update</a> | <a href="#" class="del">Delete</a></td>
      </tr>

    </table>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}