{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="books_add" class="full_box">
    <h2>Students Details</h2>
  <div class="dda_container" id="search_main">
    <table style="width: 100%;" class="details">
      <tr>
          <td>Name</td>
          <td>Md.X</td>
      </tr>
     <tr>
          <td>Father Name</td>
          <td>Md. Y</td>
     </tr>
    <tr>
          <td>Mother Name</td>
          <td>Md. Z</td>
     </tr>
    <tr>
          <td>Unique ID</td>
          <td>100A2B</td>
     </tr>
    <tr>
          <td>Phone No.</td>
          <td>000 0000 000</td>
     </tr>
    <tr>
          <td>Email :</td>
          <td>name@dmain.com</td>
     </tr>
    <tr>
          <td>Address</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          </td>
    </tr>
    <tr>
          <td>Total Read Book</td>
          <td>20 | <a href="#">LIST</a></td>
    </tr>
    <tr>
          <td>Non Return Book(05)</td>
          <td>amar boi, Poem</td>
    </tr>


    </table>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}