{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="books_add" class="full_box">
    <h2>Read Book List</h2>
  <div class="dda_container" id="search_main">
    <table style="width: 100%;">
      <tr>
        <th>SL</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Category</th>
        <th>Unique ID</th>
      </tr>
      <tr>
        <td>01</td>
        <td>Bangla Book</td>
        <td>mr ..x</td>
        <td>nobel</td>
        <td>00001</td>
      </tr>
      <tr>
        <td>01</td>
        <td>karim</td>
        <td>5</td>
        <td>10</td>
        <td>0005</td>
      </tr>
      <tr>
        <td>01</td>
        <td>karim</td>
        <td>5</td>
        <td>10</td>
        <td>0005</td>
      </tr>
      <tr>
        <td>01</td>
        <td>karim</td>
        <td>5</td>
        <td>10</td>
        <td>0005</td>
      </tr>

    </table>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}