{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Login - library management </title>
<meta charset="UTF-8">
<meta name="viewport" id="viewport">
<link href='{% static 'css/foundation.min.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/owl.carousel.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/sub.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/chosen.min.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/mobile.css' %}' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/placeholder.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/sendy.js' %}" type="text/javascript"></script>
</head>
<body class="login-body nu">
	<article>
		<div class="wrapper">
			<form id="sign_in">
				<h2><small>Login to Library</small>  </h2>
				<p id="result"></p>
				<div><input type="text" name="email" placeholder="email" id="email"></div>
				<div>
					<input type="password" name="password" placeholder="password" id="password">
					<div id="forgot_password"><a href="/forgot-password" id="forgot">Forgot Password?</a></div>
				</div>
				<div class="small"><input type="checkbox" name="remember" id="remember"><label for="remember">Remember me on this device</label></div>
				<div><input type="button" value="Sign in" name="login" id="submit"></div>
			</form>
		</div>
	</article>
</body>
</html>