{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock title %}Core5.io - Home - Private/home library management web app</title>
<meta charset="UTF-8">
<meta name="viewport" id="viewport">
<link href='{% static 'css/chosen.min.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/foundation.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'css/library.css' %}' rel='stylesheet' type='text/css' media="screen">
<link href='{% static 'css/mobile.css' %}' rel='stylesheet' type='text/css' media="screen">
<link href='{% static 'css/mobile.css' %}' rel='stylesheet' type='text/css' media="print">
<link href='{% static 'css/app.css' %}' rel='stylesheet' type='text/css' media="print">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>
<body class="">
<div class="fw-wrapper">
<div id="first-sidebar">
	<header id="lib_header"><h1 class="lib_title"><a href="{% url 'dashboard' %}">Core5.io</a></h1></header>
	<div class="nav-wrap">
		<nav class="first">
			<ul class="vertical menu" data-accordion-menu>
				<li id="menu-home"><a href="{% url 'dashboard' %}">Home</a></li>
				<li id="menu-add-library"><a href="{% url 'book_distribution' %}">Book Distribution</a></li>
				<li id="menu-add-items"><a href="#">Books</a>
                    <ul class="menu vertical nested">
                      <li><a href="{% url 'book_list' %}">Book List</a></li>
                      <li><a href="{% url 'add_new_book' %}">Add New</a></li>
                    </ul>
                </li>
				<li id="menu-contact"><a href="#">Books Category</a>
                    <ul class="menu vertical nested">
                      <li><a href="{% url 'book_cat_list' %}">Categories</a></li>
                      <li><a href="{% url 'add_book_cat' %}">Add New</a></li>
                    </ul>
                </li>
				<li id="menu-add-items"><a href="#">Students</a>
                    <ul class="menu vertical nested">
                      <li><a href="{% url 'student_list' %}">Student List</a></li>
                      <li><a href="{% url 'add_new_student' %}">Add New</a></li>
                    </ul>
                </li>
				<li id="menu-publish"><a href="{% url 'revenue_month_report' %}">Reports</a></li>
				<li id="menu-settings"><a href="{% url 'settings' %}">Settings</a></li>
				<li id="menu-logout"><a href="#">LogOut</a></li>
			</ul>
		</nav>
	</div>
</div>
	<article id="library_page" class="mid-wrapper">
		<div class="mid-header">
			<div id="library_search">
				<input type="text" placeholder="search : Book Name, Author Name, Category" name="search_local" id="search_local" value="" class="">
			</div>
		</div>
		<div class="inner-wrapper">
            {% block content %} {% endblock content %}
		</div>
	</article>
	<div class="clear"></div>
	</div>
</div>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/foundation.js' %}" type="text/javascript"></script>
<script src="{% static 'js/what-input.js' %}" type="text/javascript"></script>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
</body>
</html>